<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999108175504-ln6ur0o2kpmb9i77uer24s5bcjei0d5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999108175504-ln6ur0o2kpmb9i77uer24s5bcjei0d5r</string>
	<key>API_KEY</key>
	<string>AIzaSyAe5-EvL_R7C6nf0JI9mUixCnpZjBpwA-g</string>
	<key>GCM_SENDER_ID</key>
	<string>999108175504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.braketrack.myLove</string>
	<key>PROJECT_ID</key>
	<string>my-love-d2b5e</string>
	<key>STORAGE_BUCKET</key>
	<string>my-love-d2b5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999108175504:ios:f9504da73f3c2ac6f79a15</string>
	<key>DATABASE_URL</key>
	<string>https://my-love-d2b5e.firebaseio.com</string>
</dict>
</plist>